/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui,sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapp
{
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.logo
{
    padding: 20px;
}
.logo span 
{
    color: #82b541;
}
.menu
{
    padding: 0px 20px;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    flex: 0 1 auto;
}
nav{
    background-color: #282828;
    flex: 0 1 auto;
}
nav .item
{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a
{
    text-decoration: none;
    color: white;
}
.menu a:hover, .logout-btn:hover
{
    color: #999;
    transition: all .4s ease;
}
.navbar ul
{
    text-align: center;
    list-style-type: none;
    display: flex;
}
.navbar
{
    margin-left: auto;
}
.active
{
    color: #82b541;
}
.body
{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 1 auto;
}
.form
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-in-out;
}
.form-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item label
{
    display: block;
    font-size: 18px;
}
.form-item span
{
    font-size: 18px;
}
.form-item input
{
    border-radius: 10px;
    font-size: 16px;
    padding: 7px;
    border: 1px solid grey;
}
.form-item textarea
{
    border-radius: 10px;
    resize: none;
    padding: 10px;
}
.form-item
{
    margin-top: 40px;
}
.form-item input[type="submit"]
{
    color: white;
    background-color: #82b541;
}
.form-item select
{
    padding: 5px;
    background-color: white;
    font-size: 14px;
}
.form-item option
{
    font-size: 14px;
}
.form-radio
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.radio-item
{
    display: flex;
    align-items: center;
    gap: 5px;
}
footer
{
    padding: 20px;
    background-color: #282828;
    color: white;
}
.footer-content
{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.report
{
    padding: 20px;
    background-color: #b54183;
    border-radius: 10px;
    color: white;
    margin: 10px auto;
    width: 60%;
}
.add_report_btn
{
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 40px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #82b541;
}
.report_title
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.report_title h3
{
    flex-grow: 1;
}
.report_btn_container
{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
.report_solved, .report_not_solved
{
    padding: 10px;
}
.report_not_solved
{
    color: #f44336;
}
.report_solved
{
    color: #82b541;
}

.report_delete, .report_edit
{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}
.report_delete:hover, .report_edit:hover
{
    transition: all .4s ease-in-out;
    opacity: 0.8;
}
.report_edit
{
    background-color: #82b541;
}
.report_delete
{
    background-color: #f44336;
    margin-left: 10px;
}
.report_description
{
    margin: 15px 0;
    text-align: justify;
}
.report_info
{
    display: flex;
}
.report_by
{
    flex: 1 1 0px;
}
.report_date
{
    flex: 1 1 0px;
    text-align: right;
}
.report_is_solved
{
    text-align: center;
    flex: 1 1 0px;
}
.alert-error, .alert-success {
    padding: 20px;
    color: white;
}
.alert-error
{
    background-color: #f44336;
}
.alert-success
{
    background-color: #82b541;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-fullname
{
    font-weight: bold;
}
.logout-btn
{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.alert-container
{
    padding: 20px;
    margin: 20px auto;
}
.reports
{
    display: flex;
    flex-direction: column;
    /* margin: 10px auto; */
    align-items: center;
    width: 100%;
}
.delete_btn
{
    background-color: #f44336;
}
.stats
{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.stat
{
    display: inline-block;
    width: 100%;
    display: block;
}
.stat canvas
{
    width: 100%;
}
.hamburger
{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.hamburger-line
{
    width: 25px;
    height: 4px;
    background-color: white;
}
@media screen and (max-width: 320px)
{
    .report_info
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .report_title
    {
        flex-direction: column;
        text-align: center;
    }
    .logo
    {
        font-size: 12px;
    }
}
@media screen and (max-width: 950px) {
    .menu
    {
        width: 90%;
        flex-direction: column;
        padding: 0;
    }
    .navbar
    {
        margin: 0;
        display: none;
    }
    .navbar .item
    {
        width: 100%;
    }
    .navbar ul
    {
        width: 100%;
        flex-direction: column;
    }
    .reports
    {
        padding: 0;
        width: 100%;
    }
    .report
    {
        width: 80%;
    }
    .form-item
    {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .form-item input
    {
        width: 90%;
        margin: 0 auto;
        font-size: 12px;
        word-wrap: break-word;
        white-space: normal;
        word-wrap: break-word;
    }
    .form-item textarea
    {
        width: 90%;
        padding: 0;
    }
    .stats
    {
        flex-direction: column;
        gap: 20px;
    }
    .logo
    {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .body
    {
        width: 90%;
    }
    
}
@media screen and (min-width: 951px)
{
    .hamburger
    {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    .body
    {
        width: 90%;
    }
    .navbar .item
    {
        padding: 0;
    }
    .logo
    {
        justify-content: space-between;
    }
    /* .hamburger
    {
        display: none;
    } */
}
@media screen and (min-width: 1201px)
{
    .menu
    {
        max-width: 1200px;
    }
    .body
    {
        max-width: 1200px;
    }
}