/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui,sans-serif;
}
html,
body {
    height: 100%;
    margin: 0;
}
.wrapp
{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.logo
{
    padding: 20px;
}
.logo span 
{
    color: #82b541;
}
.menu
{
    padding: 0px 20px;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
    max-width: 1200px;
    margin: 0 auto;
    flex: 0 1 auto;
}
nav{
    background-color: #282828;
    flex: 0 1 auto;
}
nav .item
{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a
{
    text-decoration: none;
    color: white;
}
.menu a:hover, .logout-btn:hover
{
    color: #999;
    transition: all .4s ease;
}
.navbar ul
{
    text-align: center;
    list-style-type: none;
    display: flex;
}
.navbar
{
    margin-left: auto;
}
.active
{
    color: #82b541;
}
.body
{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 1 auto;
    padding: 20px;
}
.form
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item label
{
    display: block;
    font-size: 18px;
}
.form-item input
{
    border-radius: 10px;
    font-size: 18px;
    padding: 7px;
    border: 1px solid grey;
}
.form-item
{
    margin-top: 40px;
}
.form-item input[type="submit"]
{
    color: white;
    background-color: #82b541;
}
footer
{
    padding: 20px;
    background-color: #282828;
    color: white;
}
.footer-content
{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.report
{
    /* max-width: 500px; */
    padding: 20px;
    background-color: #b54183;
    border-radius: 10px;
    color: white;
    margin: 10px auto;
}
/* .report_title
{

} */
.report_description
{
    margin: 15px 0;
    text-align: justify;
}
.report_info
{
    display: flex;
}
.report_by
{
    flex-grow: 1;
}
.report_date
{
    flex-grow: 1;
    text-align: right;
}
.alert-error, .alert-success {
    padding: 20px;
    color: white;
}
.alert-error
{
    background-color: #f44336;
}
.alert-success
{
    background-color: #82b541;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-fullname
{
    font-weight: bold;
}
.logout-btn
{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.alert-container
{
    padding: 20px;
    margin: 20px auto;
}
.reports
{
    margin: 10px auto;
    width: 100%;
}
.delete_btn
{
    background-color: #f44336;
}